
.signin-thead {
    border-bottom: 1px solid #444444;
    padding: 10px;
    font-size: 2.0rem;
    font-weight: 500;
    margin-bottom: 2rem;
}

tbody tr:first-child td {
    padding-top: 25px;
}

.signin-img {
    width: 255px; 
    height: 60px;
    cursor: pointer;
}

.title {
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
}

.signin-info-table {
    width: 100%;
    border-collapse: collapse;
}

.signin-input {
    width: 22%;
    min-width: 300px;
    height: 32px;
    font-size: 15px;
    border: 0;
    border-radius: 15px;
    outline: none;
    padding-left: 10px;
    background-color: rgb(233, 233, 233);
}


@media (max-width:600px){
    input {
        width: 55%;
        height: 32px;
        font-size: 15px;
        border: 0;
        border-radius: 15px;
        outline: none;
        padding-left: 10px;
        background-color: rgb(233, 233, 233);
    }
}
