.profile-avatar-content {
    margin-top: 10px;
    margin-bottom: 0px;
}

.profile-thead {
    border-bottom: 1px solid #444444;
    padding: 10px;
    font-size: 2.0rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
}

.title {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
}

.profile-info-table {
    width: 100%;
    border-collapse: collapse;
}

.profile-input {
    width: 22%;
    min-width: 300px;
    height: 32px;
    font-size: 15px;
    border: 0;
    border-radius: 15px;
    outline: none;
    padding-left: 10px;
    background-color: rgb(233, 233, 233);
}


@media only screen and (max-width: 600px) {
    .profile-modal {
        width: 350px;
    }
}

@media screen and (orientation: landscape) and (max-width: 600px) {
    .profile-modal {
        width: 650px;
    }

    .profile-modal-input {
        width: 22%;
        min-width: 200px;
        height: 32px;
        font-size: 15px;
        border: 0;
        border-radius: 15px;
        outline: none;
        padding-left: 10px;
        background-color: rgb(233, 233, 233);
    }

    .room-init-modal-table-thead {
        border-bottom: 1px solid #444444;
        padding: 5px;
        font-size: 1.5rem;
        font-weight: 500;
        margin-bottom: 0.5rem;
    }
}
