.topBar {
    align-items: center;
    border-bottom: 2px solid #333;
    display: flex;
    height: 98px;
    justify-content: center;
}
.toggleButton {
    margin: 1rem;
}
.iFrame {
    border: none;
    width: 100%;
    height: calc(100vh);
}

@media only screen and (max-device-width: 640px){
    .iFrame {
        border: none;
        width: 100%;
        height: calc(var(--vh, 1vh) * 100);
    }
}
