.avatar-name-modal {
    inset: 12% 0%;
}

.avatar-set-info-table {
    width: 100%;
}

input {
    width: 28%;
    height: 32px;
    font-size: 15px;
    border: 0;
    border-radius: 15px;
    outline: none;
    padding-left: 10px;
    background-color: rgb(233, 233, 233);
}


@media (max-width:600px){
    .avatar-name-modal {
        inset: 12% 0%;
    }

    input {
        width: 55%;
        height: 32px;
        font-size: 15px;
        border: 0;
        border-radius: 15px;
        outline: none;
        padding-left: 10px;
        background-color: rgb(233, 233, 233);
    }
}
